@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.sidebar {
    background-image: linear-gradient(#002626, #085b70) !important;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.spinner-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6rem;
    width: 6rem;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 6rem;
    width: 6rem;
}

.spinner-border {
    display: inline-block;
    border: .15em solid #212529;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overflow-auto::-webkit-scrollbar {
    width: 5px;
}

.overflow-auto::-webkit-scrollbar-track {
    border-top-right-radius: 3.5px;
    border-bottom-right-radius: 3.5px;
    background: rgb(241 241 241 / 0.00);
}

.overflow-auto::-webkit-scrollbar-thumb {
    border-radius: 3.5px;
    background: #888;
}

    .overflow-auto::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@keyframes fade-in-and-grow {
    from {
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes toast-annimation {
    0% {
        opacity: 0;
        display: none;
    }
    50%{
        opacity: 1;
        display: initial;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes roll-up {
    from {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    to {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}

@keyframes roll-down {
    0% {
        height:0%;
    }
    25%{
        height: 25%;
    }
    50% {
        height: 50%;
    }
    75% {
        height: 75%;
    }
    100% {
        height: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    html,
    body {
        font-size: 80%;
    }
}

@media only screen and (max-width: 600px) {
    html,
    body {
        font-size: 62.5%;
    }
}