@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject IStudentEndpoint _studentEndnoint
@inject IJSRuntime jsRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <ToastNotification />
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Hello @context.User.Identity.Name
                    <button class="btn btn-info m-3" @onclick="OnLogout">Log Out</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-info" @onclick="OnLogin">Log In</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            <CascadingAuthenticationState>
                @Body
            </CascadingAuthenticationState>
        </div>
    </div>
</div>

@code {
    private void OnLogin()
    {
        NavManager.NavigateTo($"/login?url={NavManager.Uri.Replace(NavManager.BaseUri, "")}");
    }

    private void OnLogout()
    {
        NavManager.NavigateTo("/logout");
    }

    [Inject]
    public AuthenticationStateProvider authState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState state = await authState.GetAuthenticationStateAsync();
        //await jsRuntime.InvokeVoidAsync("log", state.User.Identity.Name);
    }
}