.m-tooltip-wrapper {
    display: inline-block;
}

.m-tooltip-wrapper {
    visibility: visible;
    position: absolute;
    width: max-content;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    z-index: 1;
    white-space: pre-line;
    pointer-events: none;
}

.floater-container {
    position: absolute;
    transform: translate(-50%);
    z-index: 500;
    pointer-events: none;
}

.floater {
    width: max-content;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 0px #00000042;
    padding: 5px 10px;
    position: relative;
    background-color: #fff;
    margin-top: 5px;
}

.floater-title {
    font-weight: bold;
    font-size: 1.76rem;
    text-align: center;
}

.floater-subtitle {
    font-weight: bold;
    font-size: 1.28rem;
    text-align: center;
}

.floater-pair {
    display: flex;
    justify-content: space-between;
    font-size: 0.96rem;
}
