<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sessions">
                <i class="fas fa-calendar-alt nav-icon"></i> 
                <div class="nav-title">Sessions</div>
            </NavLink>
        </li>
         <li class="nav-item px-3">
            <NavLink class="nav-link" href="schedule">
                <i class="fas fa-clock nav-icon"></i>
                <div class="nav-title">Schedule</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="invoices">
                <i class="fas fa-file-invoice-dollar nav-icon"></i>
                <div class="nav-title">Invoices</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <i class="fas fa-chart-pie nav-icon"></i>
                <div class="nav-title">Reports</div>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="management">
                <i class="fas fa-sliders-h nav-icon"></i>
                <div class="nav-title">Management</div>
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
