.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 5.60rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.76rem;
}

.oi {
    width: 3.20rem;
    font-size: 1.76rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 1.44rem;
    padding-bottom: 0.80rem;
}

    .nav-item:first-of-type {
        padding-top: 1.60rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1.60rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 4.80rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 4.80rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-icon {
    font-size: 2.24rem;
    width: 25%;
    text-align: center;
}

.nav-title {
    width: 72%;
}

.nav-link {
    padding: 0.80rem !important;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
