.report-item-container {
    padding: 1.20rem 0.60rem;
    margin: 1.60rem 0;
    border: solid 1px #c5c5c5;
    width: 100%;
}

.detail-container {
    display: flex;
    align-items: flex-end;
    margin: 0.80rem;
}

    ::deep .detail-container > div {
        margin: auto 0.80rem;
    }