@using System.Globalization
<style>
	.table {
		width: 80%;
		margin: 1rem auto;
	}
</style>

@if (Sessions is not null)
{
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Student</th>
				<th>Date</th>
				<th>Duration</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var session in Sessions)
			{
				<tr>
					<td>@session.Student.DisplayName</td>
					<td>@(DateOnly.FromDateTime(session.Date))</td>
					<td>@((session.EndTime - session.StartTime).ToString("hh\\:mm").TrimStart(new Char[] { '0' }))</td>
				</tr>
			}
		</tbody>
	</table>

}


@code {
	[Parameter]
	public List<ManageSessionModel> Sessions { get; set; }
}
