<style>
	.accordion-header {
		cursor: pointer;
		display: flex;
		align-items: center;
	}
	.accordion-body {
		animation: roll-down 20s;
		overflow: hidden;
		border-top: solid 1px rgb(228, 228, 231);
	}
</style>
<div class="accordion">
	<div class="accordion-header" @onclick="@(() => Parent.HeaderClicked(this))">
		<div style="flex: 1;">
			@Header
		</div>
		<i class="fa fa-chevron-down" style="padding-right: 1rem; margin-left: -1.7rem;"></i>
	</div>
	@if (Parent.CheckIfActive(this))
	{
		<div class="accordion-body">
			@Content
		</div>
	}
</div>

@code {
	[CascadingParameter]
	public AccordionContainer Parent { get; set; }
	[Parameter]
	public RenderFragment Header { get; set; }
	[Parameter]
	public RenderFragment Content { get; set; }

	protected override void OnInitialized()
	{
		if (Parent == null)
        {
            throw new ArgumentNullException(nameof(Parent), "TabPage must exist within a TabControl");
        }
        Parent.AddItem(this);
		base.OnInitialized();
	}
}
