@page "/management"
@inject IStudentEndpoint _studentEndpoint
@inject IProviderEndpoint _providerEndpoint
@inject IBillingStatusEndpoint _billingStatusEndpoint
@inject ISessionEndpoint _sessionEndpoint


    <div class="container mt-3 mb-3">
        <h2>Management</h2>

        <div class="row mt-3">
            <ExcelUpload />
        </div>
    </div>



    @code {

    }
