@page "/reports"
@inject IReportEndpoint _reportEndpoint


<h3>Reports</h3>

<StackedBarChart RowCount="6" Data="MonthlyIncome" />

<div class="m-5"></div>

<PieChart Size="750" Data="MonthlyNumbers"></PieChart>


<div class="m-5"></div>


@code {

    public List<IncomeReportModel> MonthlyIncome { get; set; }

    public List<double> MonthlyNumbers { get; set; } = new();

    public List<int> Values { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        MonthlyIncome = await _reportEndpoint.GetMonthlyIncome(DateTime.Parse("2020-09-01"));
        foreach (var item in MonthlyIncome)
        {
            item.Date = DateTime.Parse(item.Title).ToString("MMMM");
            var t = (item.SchoolPrimary + item.AfterSchoolPrimary + item.SchoolSecondary + item.AfterSchoolSecondary);
            MonthlyNumbers.Add(t);
        }
    }
}
