@page "/sessions"

<style>
    .grid {
        border: solid 1px;
        border-radius: 3px;
        display: grid;
        background-color: black;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1px;
        text-align: center;
        padding: 20px;
    }
    .grid-header {
        background-color: white;
    }
</style>

<h3>Sessions</h3>


    <div class="grid">
        <div class="grid-header">Student</div>
        <div class="grid-header">Date</div>
        <div class="grid-header">Start Time</div>
        <div class="grid-header">End Time</div>
        <div class="grid-header">Billing Status</div>
        <div class="grid-header">Provider</div>
    </div>


@code {

}
